header, .blog:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  /* login and out buttons */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
    /* login and out buttons */
  color: #065b83;
  text-decoration: underline;
 
}
/*
.container {
 margin: 15; 
 width: 100%;
 background:rgb(112, 209, 216);
 align-items:center;

}

.new-comment-form{
  margin: 25;
}

.comment{
  margin: 25, auto, 25, auto;
}
*/